<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group list-group-flush">
                <li>
                <a 
                    class="list-group-item clear-fix"
                    style="cursor: pointer;"
                    *ngFor="let item of employeesSer.employees; 
                    let i= index"
                    [id]="i">{{item.firstName + " " + item.lastName}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
